h1 {
  text-align: center;
}

.hide{
  display:none;
}

.start{
   display: flex;
  justify-content: center;
}

.highscore {
  display: flex;
}

.timer {
  display: flex;
  justify-content: right;
  font-size: 20px;
  font-weight: bolder;
}

#btn {
  
}

button {
  background-color: green;
  padding: 5px 10px;
  margin: 0px;
  display: flex;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 20px;
}